/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl my-4;
  }
  h2 {
    @apply text-2xl;
  }

  .bg-purple-1000 {
    background-color: #c8c8f5;
  }

  .max-w-8xl {
    max-width: 90rem;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Content-font, Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  flex: 1 1 auto;
  padding: 1rem;
  max-width: 1024px;
}

.output-container {
  position: absolute;
  top: 0;
  left: 500px;
}

.demo {
  position: relative;
}

.animation {
  width: 800px;
  height: 300px;
}

.btn-group {
  margin: 10px 0;
}
.btn-group button{
  margin-right: 10px;
}
